@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	button {
		@apply px-8 py-2 bg-orange-700 rounded-full;
	}
	h4 {
		@apply text-3xl;
	}
	h5 {
		@apply text-2xl;
	}
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
	h1 {
		@apply text-4xl md:text-5xl lg:text-6xl;
	}
}

*::-webkit-scrollbar {
	width: 12px;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #f24f0f #040508;
}
*::-webkit-scrollbar-track {
	background: #040508;
}

*::-webkit-scrollbar-thumb {
	background-color: #f24f0f;
	border-radius: 14px;
	border: 3px solid #040508;
}

li {
	color: #fff;
}

@layer components {
	#img {
		@apply object-cover rounded-lg h-full w-full duration-[1400ms] transition-all;
	}
	.div {
		@apply overflow-hidden h-40 w-full relative;
	}
	#top {
		@apply fixed bottom-10 right-6 z-20 bg-orange-700 p-2 rounded-full cursor-pointer;
	}
	#icons {
		@apply flex flex-wrap gap-6 items-center md:flex-nowrap;
	}
}
