@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@layer base {
	button {
		@apply px-8 py-2 bg-orange-700 rounded-full;
	}
	h4 {
		@apply text-3xl;
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-bold;
	}
	h1 {
		@apply text-4xl md:text-5xl lg:text-6xl;
	}
	div {
		padding: 0;
	}
}
.div-project {
	overflow: hidden;
	height: 10rem;
	position: relative;
	width: 100%;
}
.img-project {
	object-position: top;
	object-fit: cover;
	height: 100%;
	width: 100%;
	transition: all ease-in-out 1400ms;
	border-radius: 0.375rem;
}
.img-project:hover {
	object-position: bottom;
}
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: rgb(30 41 59);
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(194 65 12);
	border-radius: 14px;
	border: 3px solid rgb(30 41 59);
}
html {
	font-family: "Poppins", sans-serif;
}
@tailwind components;
@tailwind utilities;
